{% layout "layout.html" %} {% block content %}

<textarea id="content" class="d-none">
There is a **code detection plugin** active in this editor that will intercept image uploads and simulate image code detection.<br />
If code is detected, the plugin will ask the user if they want to upload images as a code block instead of an image.
Try it out by clicking the image menu item above 🏞️.

<hr />

And here's a plugin that (sorta) adds [Japanese.SE furigana support](https://japanese.meta.stackexchange.com/questions/806/how-should-i-format-my-questions-on-japanese-language-se/807#807):

`感``{かん}じる` renders as 感{かん}じる. すごい!

There's also a very silly plugin set in the 🤘 menu. Try it out!

Test of math:

[tag:y=mx+b]

[tag:a^2+b^2=c^2]

End test
</textarea>

<h1>Plugin Playground</h1>
<button onclick="console.error(window.MathJax);" id="mathUpdateBtn">Update</button>
<div id="example-1" class="js-plugins-enabled js-dev-plugins-enabled"></div>
{% endblock %}
