{% layout "layout.html" %} {% block content %}

<textarea id="content" class="d-none">
## MathJax in the Stacks editor

We know that $1+1=2$.

If $f(x)=x^2$, then $f^\prime(x)=\frac{d}{dx}\left[f\left(x\right)\right]=2x$.

While editing math in rich text mode isn't supported, you can do so in Markdown mode.

Colors somewhat work, for example $\color{green}{12+12=24}$.

You can also have math in quotes, like this:

> `\implies` ($\implies$) is a [marginally preferable](https://tex.stackexchange.com/questions/47063/rightarrow-vs-implies-and-does-not-imply-symbol) alternative to `\Rightarrow` ($\Rightarrow$) for implication.
>
> <sub>Quote from [this post](https://math.meta.stackexchange.com/a/9954/) by leonbloy on Math Meta SE.</sub>

Given $a^2+b^2=c^2$, one could say $c=\sqrt{a^2+b^2}$.
</textarea>

<h1>Plugin Playground</h1>
<button style="display: none;" onclick="console.error(window.MathJax);" id="mathUpdateBtn">Update</button>
<div id="example-1" class="js-plugins-enabled js-dev-plugins-enabled"></div>
{% endblock %}
